workflows/n8n-document-processor.json
{
  "name": "Document Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "watch",
        "folderId": "={{$vars.GOOGLE_DRIVE_FOLDER_ID}}",
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "createdTime",
            "webViewLink"
          ]
        }
      },
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "gdrivewebhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mimeType }}",
              "operation": "contains",
              "value2": "application/pdf"
            }
          ]
        }
      },
      "name": "Is PDF Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {
          "binaryPropertyName": "document"
        }
      },
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract and format document metadata\nconst item = $input.item;\nreturn {\n  json: {\n    fileName: item.json.name,\n    fileId: item.json.id,\n    mimeType: item.json.mimeType,\n    createdTime: item.json.createdTime,\n    webViewLink: item.json.webViewLink,\n    source: 'google_drive',\n    status: 'downloaded',\n    document: item.binary.document\n  }\n};"
      },
      "name": "Prepare PDF Metadata",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "documents",
        "schema": "public",
        "columns": {
          "title": "={{ $json.fileName }}",
          "source_id": "={{ $json.fileId }}",
          "source_type": "google_drive",
          "mime_type": "={{ $json.mimeType }}",
          "status": "downloaded",
          "metadata": "={{ JSON.stringify($json) }}",
          "created_at": "={{ new Date().toISOString() }}"
        },
        "returnFields": "id, title, source_id"
      },
      "name": "Insert PDF Document",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "functionName": "extractTextFromPdf",
        "binaryPropertyName": "document",
        "options": {
          "outputPropertyName": "rawText"
        }
      },
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.function:executeFunction",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ],
      "executeFunction": {
        "code": "async function extractTextFromPdf(binaryData) {\n  // This is where PDF extraction would happen\n  // In n8n, you would typically use the PDF Extract node\n  // For this template, we are simulating the extraction\n  return {\n    rawText: 'Extracted text from PDF document would appear here.'\n  };\n}"
      }
    },
    {
      "parameters": {
        "jsCode": "// Process text to RAG-optimized markdown format\nconst item = $input.item;\nconst text = item.json.rawText;\n\n// Split into chunks, clean, and format\nconst chunks = text.split('\\n\\n').filter(chunk => chunk.trim().length > 0);\nconst markdown = chunks.map(chunk => {\n  // Clean and format as markdown\n  return `## Content\\n\\n${chunk.trim()}`;\n}).join('\\n\\n');\n\nreturn {\n  json: {\n    ...item.json,\n    markdown: markdown,\n    status: 'processed'\n  }\n};"
      },
      "name": "Transform to Markdown",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "documents",
        "schema": "public",
        "where": "source_id = '{{ $json.fileId }}'",
        "columns": {
          "content": "={{ $json.markdown }}",
          "status": "processed",
          "updated_at": "={{ new Date().toISOString() }}"
        },
        "returnFields": "id, title, status"
      },
      "name": "Update Document with Content",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1650,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "outputMode": "input",
        "expressionInput": "={{ $vars.EMBEDDING_PROVIDER || 'google' }}"
      },
      "name": "Choose Embedding Provider",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1850,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{ $vars.GOOGLE_AI_API_URL }}/v1/models/text-embedding-gecko:predict",
        "options": {
          "bodyContentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "instances",
                "value": "=[{ \"content\": $json.markdown }]"
              }
            ]
          },
          "headers": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $vars.GOOGLE_AI_API_KEY }}"
              }
            ]
          },
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "name": "Generate Google Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2050,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process the Google embedding response\nconst item = $input.item;\nconst embeddingResponse = item.json;\n\nif (embeddingResponse && embeddingResponse.predictions && embeddingResponse.predictions[0] && embeddingResponse.predictions[0].embeddings && embeddingResponse.predictions[0].embeddings.values) {\n  return {\n    json: {\n      ...item.json,\n      embedding: embeddingResponse.predictions[0].embeddings.values,\n      status: 'embedded',\n      embedding_provider: 'google',\n      vector_dimensions: embeddingResponse.predictions[0].embeddings.values.length\n    }\n  };\n} else {\n  throw new Error('Failed to generate Google embeddings');\n}"
      },
      "name": "Extract Google Embedding",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2250,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.anthropic.com/v1/embeddings",
        "options": {
          "bodyContentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "claude-3-haiku-20240307"
              },
              {
                "name": "input",
                "value": "={{ $json.markdown }}"
              },
              {
                "name": "encoding_format",
                "value": "float"
              }
            ]
          },
          "headers": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "x-api-key",
                "value": "{{ $vars.ANTHROPIC_API_KEY }}"
              }
            ]
          },
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "name": "Generate Anthropic Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process the Anthropic embedding response\nconst item = $input.item;\nconst embeddingResponse = item.json;\n\nif (embeddingResponse && embeddingResponse.embeddings && embeddingResponse.embeddings[0] && embeddingResponse.embeddings[0].embedding) {\n  return {\n    json: {\n      ...item.json,\n      embedding: embeddingResponse.embeddings[0].embedding,\n      status: 'embedded',\n      embedding_provider: 'anthropic',\n      vector_dimensions: embeddingResponse.embeddings[0].embedding.length\n    }\n  };\n} else {\n  throw new Error('Failed to generate Anthropic embeddings');\n}"
      },
      "name": "Extract Anthropic Embedding",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "documents",
        "schema": "public",
        "where": "source_id = '{{ $json.fileId }}'",
        "columns": {
          "embedding": "={{ $json.embedding }}",
          "status": "embedded",
          "embedding_provider": "={{ $json.embedding_provider }}",
          "vector_dimensions": "={{ $json.vector_dimensions }}",
          "updated_at": "={{ new Date().toISOString() }}"
        },
        "returnFields": "id, title, status, embedding_provider, vector_dimensions"
      },
      "name": "Save Embedding to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2450,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare notification about non-PDF document\nconst item = $input.item;\nreturn {\n  json: {\n    fileName: item.json.name,\n    fileId: item.json.id,\n    mimeType: item.json.mimeType,\n    message: 'Skipped processing: Not a PDF document',\n    status: 'skipped'\n  }\n};"
      },
      "name": "Handle Non-PDF",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "documents",
        "schema": "public",
        "columns": {
          "title": "={{ $json.fileName }}",
          "source_id": "={{ $json.fileId }}",
          "source_type": "google_drive",
          "mime_type": "={{ $json.mimeType }}",
          "status": "skipped",
          "metadata": "={{ JSON.stringify($json) }}",
          "created_at": "={{ new Date().toISOString() }}"
        },
        "returnFields": "id, title, source_id, status"
      },
      "name": "Record Skipped Document",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        850,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Is PDF Document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF Document?": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Non-PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Prepare PDF Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PDF Metadata": {
      "main": [
        [
          {
            "node": "Insert PDF Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert PDF Document": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "Transform to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Markdown": {
      "main": [
        [
          {
            "node": "Update Document with Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Document with Content": {
      "main": [
        [
          {
            "node": "Choose Embedding Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Embedding Provider": {
      "main": [
        [
          {
            "node": "Generate Google Embeddings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Anthropic Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Google Embeddings": {
      "main": [
        [
          {
            "node": "Extract Google Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Google Embedding": {
      "main": [
        [
          {
            "node": "Save Embedding to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Anthropic Embeddings": {
      "main": [
        [
          {
            "node": "Extract Anthropic Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Anthropic Embedding": {
      "main": [
        [
          {
            "node": "Save Embedding to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Non-PDF": {
      "main": [
        [
          {
            "node": "Record Skipped Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all"
  },
  "pinData": {},
  "tags": [
    "document-processing",
    "google-drive",
    "embeddings"
  ],
  "staticData": null,
  "versionId": "1",
  "meta": {
    "instanceId": "document-workflow-instance"
  }
} 