workflows/n8n-document-processor.json
{
  "name": "Document Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "watch",
        "folderId": "={{$vars.GOOGLE_DRIVE_FOLDER_ID}}",
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "createdTime",
            "webViewLink"
          ]
        }
      },
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "gdrivewebhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mimeType }}",
              "operation": "contains",
              "value2": "pdf"
            }
          ]
        }
      },
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        650,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": "google_drive_credentials"
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "binaryData": "={{ $binary.data }}"
      },
      "name": "PDF to Text",
      "type": "n8n-nodes-base.pdfConvert",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "document",
        "items": {
          "id": "={{ $json.id }}",
          "name": "={{ $json.name }}",
          "mimeType": "={{ $json.mimeType }}",
          "createdTime": "={{ $json.createdTime }}",
          "webViewLink": "={{ $json.webViewLink }}",
          "content": "={{ $json.text }}",
          "chunk_number": 0,
          "total_chunks": 1
        }
      },
      "name": "Process PDF",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Function to convert PDF text to markdown format with RAG optimizations\nconst text = items[0].json.document.content;\n\n// Basic RAG optimizations:\n// 1. Remove excessive whitespace\n// 2. Format headers (simple detection)\n// 3. Preserve paragraph breaks\n// 4. Add bullet points for lists (simple detection)\n\nlet markdown = text;\n\n// Remove excessive whitespace (more than 2 newlines)\nmarkdown = markdown.replace(/\\n{3,}/g, '\\n\\n');\n\n// Attempt to detect and format headers (simple approach)\nmarkdown = markdown.replace(/^([A-Z][A-Za-z\\s]{2,50})(?=\\n)/gm, '## $1');\n\n// Detect and format possible lists\nmarkdown = markdown.replace(/^(\\d+\\.\\s)/gm, '* ');\n\n// Split into chunks if too large (over 4000 tokens, roughly 16000 chars)\nconst MAX_CHUNK_SIZE = 16000;\nlet chunks = [];\n\nif (markdown.length > MAX_CHUNK_SIZE) {\n  // Split on paragraph breaks for cleaner divisions\n  const paragraphs = markdown.split(/\\n\\n/);\n  let currentChunk = '';\n  let chunkCount = 0;\n  \n  for (const paragraph of paragraphs) {\n    if (currentChunk.length + paragraph.length > MAX_CHUNK_SIZE) {\n      // Save current chunk\n      chunks.push({\n        ...items[0].json.document,\n        content: currentChunk.trim(),\n        markdown: currentChunk.trim(),\n        chunk_number: chunkCount,\n        total_chunks: Math.ceil(markdown.length / MAX_CHUNK_SIZE)\n      });\n      \n      chunkCount++;\n      currentChunk = paragraph + '\\n\\n';\n    } else {\n      currentChunk += paragraph + '\\n\\n';\n    }\n  }\n  \n  // Add the final chunk\n  if (currentChunk.trim().length > 0) {\n    chunks.push({\n      ...items[0].json.document,\n      content: currentChunk.trim(),\n      markdown: currentChunk.trim(),\n      chunk_number: chunkCount,\n      total_chunks: chunkCount + 1\n    });\n  }\n} else {\n  // Just one chunk needed\n  chunks.push({\n    ...items[0].json.document,\n    markdown: markdown.trim()\n  });\n}\n\nreturn chunks;"
      },
      "name": "Convert to Markdown",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "table": "documents",
        "schema": "public",
        "columns": "id, name, mime_type, created_time, web_view_link, content, markdown, chunk_number, total_chunks",
        "additionalFields": {}
      },
      "name": "Store in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ],
      "credentials": {
        "postgres": "supabase_db_credentials"
      }
    },
    {
      "parameters": {
        "content": "={{ $json.markdown }}",
        "options": {}
      },
      "name": "Embedding Provider",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1650,
        200
      ],
      "switchOptions": {
        "mode": "variable",
        "variableName": "{{ $vars.EMBEDDING_PROVIDER }}"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{ $vars.GOOGLE_AI_API_URL }}/v1/models/text-embedding-gecko:predict",
        "options": {
          "bodyContentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "instances",
                "value": "=[{ \"content\": $json.markdown }]"
              }
            ]
          },
          "headers": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $vars.GOOGLE_AI_API_KEY }}"
              }
            ]
          }
        }
      },
      "name": "Google Vertex AI Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1850,
        120
      ],
      "conditions": {
        "value": [
          {
            "value1": "={{ $vars.EMBEDDING_PROVIDER }}",
            "value2": "google"
          }
        ]
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.voyageai.com/v1/embeddings",
        "options": {
          "bodyContentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "voyage-3-large"
              },
              {
                "name": "input",
                "value": "={{ $json.markdown }}"
              },
              {
                "name": "input_type",
                "value": "document"
              }
            ]
          },
          "headers": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $vars.VOYAGE_AI_API_KEY }}"
              }
            ]
          }
        }
      },
      "name": "Voyage AI Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1850,
        280
      ],
      "conditions": {
        "value": [
          {
            "value1": "={{ $vars.EMBEDDING_PROVIDER }}",
            "value2": "voyage"
          }
        ]
      }
    },
    {
      "parameters": {
        "functionCode": "// Process embeddings from Vertex AI\nif (items[0].json.predictions) {\n  // Google Vertex AI embeddings\n  const embeddings = items[0].json.predictions[0].embeddings.values;\n  \n  return [{\n    json: {\n      ...items[0].json,\n      embedding: embeddings,\n      provider: 'google'\n    }\n  }];\n} else if (items[0].json.data && items[0].json.data.embeddings) {\n  // Voyage AI embeddings\n  const embeddings = items[0].json.data.embeddings[0];\n  \n  return [{\n    json: {\n      ...items[0].json,\n      embedding: embeddings,\n      provider: 'voyage'\n    }\n  }];\n} else {\n  // Error case\n  throw new Error('Unknown embedding format');\n}"
      },
      "name": "Process Embeddings",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2050,
        200
      ]
    },
    {
      "parameters": {
        "table": "document_embeddings",
        "schema": "public",
        "columns": "document_id, embedding, provider, created_at",
        "additionalFields": {}
      },
      "name": "Store Embedding in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2250,
        200
      ],
      "credentials": {
        "postgres": "supabase_db_credentials"
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "PDF to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Text": {
      "main": [
        [
          {
            "node": "Process PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF": {
      "main": [
        [
          {
            "node": "Convert to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Markdown": {
      "main": [
        [
          {
            "node": "Store in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Supabase": {
      "main": [
        [
          {
            "node": "Embedding Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding Provider": {
      "main": [
        [
          {
            "node": "Google Vertex AI Embeddings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Voyage AI Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex AI Embeddings": {
      "main": [
        [
          {
            "node": "Process Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voyage AI Embeddings": {
      "main": [
        [
          {
            "node": "Process Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Embeddings": {
      "main": [
        [
          {
            "node": "Store Embedding in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-27T11:21:35.974Z",
  "versionId": "abcde12345"
} 